examples/01-basic-use.json
[
    {
        "id": "99c94811.ff8588",
        "type": "tab",
        "label": "SmartMesh Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a324c4d.5cbdec",
        "type": "debug",
        "z": "99c94811.ff8588",
        "name": "Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 467.5,
        "y": 322,
        "wires": []
    },
    {
        "id": "5380ec58.84d544",
        "type": "catch",
        "z": "99c94811.ff8588",
        "name": "",
        "scope": null,
        "x": 285.5,
        "y": 453.25,
        "wires": [
            [
                "41094b73.edb964"
            ]
        ]
    },
    {
        "id": "41094b73.edb964",
        "type": "debug",
        "z": "99c94811.ff8588",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 463,
        "y": 476,
        "wires": []
    },
    {
        "id": "418121ba.6d099",
        "type": "inject",
        "z": "99c94811.ff8588",
        "name": "Send Packet (77-66-55-44-33-22-11-00)",
        "topic": "",
        "payload": "{\"mac\":\"77-66-55-44-33-22-11-00\",\"protocol\":\"raw\",\"payload\":\"00aabbcc\",\"dstPort\":60000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 232.5,
        "y": 126.25,
        "wires": [
            [
                "9d3f15c5.fcfac8"
            ]
        ]
    },
    {
        "id": "1de74f95.c0a3d8",
        "type": "debug",
        "z": "99c94811.ff8588",
        "name": "Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 475,
        "y": 251,
        "wires": []
    },
    {
        "id": "b9b9b298.7cd04",
        "type": "inject",
        "z": "99c94811.ff8588",
        "name": "LED ON (00-11-22-33-44-55-66-77)",
        "topic": "",
        "payload": "{\"mac\":\"00-11-22-33-44-55-66-77\",\"id\":\"led_on_2\",\"command\":\"PUT\",\"address\":\"/3/2\",\"tags\":[{\"tag\":0,\"format\":\"byte\",\"value\":\"01\"}],\"protocol\":\"oap\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 212,
        "y": 38,
        "wires": [
            [
                "9d3f15c5.fcfac8"
            ]
        ]
    },
    {
        "id": "5ef66952.a7a3e",
        "type": "inject",
        "z": "99c94811.ff8588",
        "name": "LED OFF (00-11-22-33-44-55-66-77)",
        "topic": "",
        "payload": "{\"mac\":\"00-11-22-33-44-55-66-77\",\"id\":\"led_off_2\",\"command\":\"PUT\",\"address\":\"/3/2\",\"tags\":[{\"tag\":0,\"format\":\"byte\",\"value\":\"00\"}],\"protocol\":\"oap\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 212,
        "y": 76,
        "wires": [
            [
                "9d3f15c5.fcfac8"
            ]
        ]
    },
    {
        "id": "d94eb7c9.82aa1",
        "type": "SmartMesh in",
        "z": "99c94811.ff8588",
        "name": "",
        "subscriptionType": "data",
        "smartMeshManager": "db283146.931228",
        "x": 287.5,
        "y": 304.5,
        "wires": [
            [
                "4a324c4d.5cbdec"
            ]
        ]
    },
    {
        "id": "1392950f.4a06e3",
        "type": "SmartMesh in",
        "z": "99c94811.ff8588",
        "name": "",
        "subscriptionType": "result",
        "smartMeshManager": "db283146.931228",
        "x": 287.5,
        "y": 236.5,
        "wires": [
            [
                "1de74f95.c0a3d8"
            ]
        ]
    },
    {
        "id": "9d3f15c5.fcfac8",
        "type": "SmartMesh out",
        "z": "99c94811.ff8588",
        "name": "",
        "smartMeshManager": "db283146.931228",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "ff57ee6b.4709d8",
        "type": "debug",
        "z": "99c94811.ff8588",
        "name": "Notifications",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 489,
        "y": 393,
        "wires": []
    },
    {
        "id": "7eec551f.90cd8c",
        "type": "SmartMesh in",
        "z": "99c94811.ff8588",
        "name": "",
        "subscriptionType": "notification",
        "smartMeshManager": "db283146.931228",
        "x": 288,
        "y": 374.5,
        "wires": [
            [
                "ff57ee6b.4709d8"
            ]
        ]
    },
    {
        "id": "db283146.931228",
        "type": "SmartMesh manager",
        "z": "",
        "enabled": true,
        "serialport": "/dev/DC2274A-A.API",
        "identifier": "manager1",
        "redirectSmartMeshManagerLog": true
    }
]
