examples/01-basic-use.json
[
    {
        "id": "92e1ac59.e47078",
        "type": "tab",
        "label": "SmartMesh Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "54fcf07a.bf08a",
        "type": "debug",
        "z": "92e1ac59.e47078",
        "name": "Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 467.5,
        "y": 322,
        "wires": []
    },
    {
        "id": "7025063f.b96168",
        "type": "catch",
        "z": "92e1ac59.e47078",
        "name": "",
        "scope": null,
        "x": 285.5,
        "y": 453.25,
        "wires": [
            [
                "c015984c.413828"
            ]
        ]
    },
    {
        "id": "c015984c.413828",
        "type": "debug",
        "z": "92e1ac59.e47078",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 463,
        "y": 476,
        "wires": []
    },
    {
        "id": "304fbe9d.7fd2d2",
        "type": "inject",
        "z": "92e1ac59.e47078",
        "name": "LED ON (77-66-55-44-33-22-11-00)",
        "topic": "",
        "payload": "{\"mac\":\"77-66-55-44-33-22-11-00\",\"id\":\"led_on_1\",\"command\":\"PUT\",\"address\":\"/3/2\",\"tags\":[{\"tag\":0,\"format\":\"byte\",\"value\":\"01\"}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 212.5,
        "y": 126.25,
        "wires": [
            [
                "6fc4a724.b5b028"
            ]
        ]
    },
    {
        "id": "6b2a80f9.18ed18",
        "type": "inject",
        "z": "92e1ac59.e47078",
        "name": "LED OFF (77-66-55-44-33-22-11-00)",
        "topic": "",
        "payload": "{\"mac\":\"77-66-55-44-33-22-11-00\",\"id\":\"led_off_1\",\"command\":\"PUT\",\"address\":\"/3/2\",\"tags\":[{\"tag\":0,\"format\":\"byte\",\"value\":\"00\"}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 221,
        "y": 165,
        "wires": [
            [
                "6fc4a724.b5b028"
            ]
        ]
    },
    {
        "id": "ea75a621.087868",
        "type": "debug",
        "z": "92e1ac59.e47078",
        "name": "Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 475,
        "y": 251,
        "wires": []
    },
    {
        "id": "45c6981.3bbe268",
        "type": "inject",
        "z": "92e1ac59.e47078",
        "name": "LED ON (00-11-22-33-44-55-66-77)",
        "topic": "",
        "payload": "{\"mac\":\"00-11-22-33-44-55-66-77\",\"id\":\"led_on_2\",\"command\":\"PUT\",\"address\":\"/3/2\",\"tags\":[{\"tag\":0,\"format\":\"byte\",\"value\":\"01\"}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 212,
        "y": 38,
        "wires": [
            [
                "6fc4a724.b5b028"
            ]
        ]
    },
    {
        "id": "af823f6.ba6cd4",
        "type": "inject",
        "z": "92e1ac59.e47078",
        "name": "LED OFF (00-11-22-33-44-55-66-77)",
        "topic": "",
        "payload": "{\"mac\":\"00-11-22-33-44-55-66-77\",\"id\":\"led_off_2\",\"command\":\"PUT\",\"address\":\"/3/2\",\"tags\":[{\"tag\":0,\"format\":\"byte\",\"value\":\"00\"}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 212,
        "y": 76,
        "wires": [
            [
                "6fc4a724.b5b028"
            ]
        ]
    },
    {
        "id": "4885770e.30ee",
        "type": "SmartMesh in",
        "z": "92e1ac59.e47078",
        "name": "",
        "subscriptionType": "data",
        "smartMeshManager": "ee6b7dce.0f8d9",
        "x": 287.5,
        "y": 304.5,
        "wires": [
            [
                "54fcf07a.bf08a"
            ]
        ]
    },
    {
        "id": "36e2a78c.1953e8",
        "type": "SmartMesh in",
        "z": "92e1ac59.e47078",
        "name": "",
        "subscriptionType": "result",
        "smartMeshManager": "ee6b7dce.0f8d9",
        "x": 287.5,
        "y": 236.5,
        "wires": [
            [
                "ea75a621.087868"
            ]
        ]
    },
    {
        "id": "6fc4a724.b5b028",
        "type": "SmartMesh out",
        "z": "92e1ac59.e47078",
        "name": "",
        "smartMeshManager": "ee6b7dce.0f8d9",
        "x": 484.5,
        "y": 89.5,
        "wires": []
    },
    {
        "id": "f45bdede.d01c98",
        "type": "debug",
        "z": "92e1ac59.e47078",
        "name": "Notifications",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 489,
        "y": 393,
        "wires": []
    },
    {
        "id": "97ac2d0d.43742",
        "type": "SmartMesh in",
        "z": "92e1ac59.e47078",
        "name": "",
        "subscriptionType": "notification",
        "smartMeshManager": "ee6b7dce.0f8d9",
        "x": 288,
        "y": 374.5,
        "wires": [
            [
                "f45bdede.d01c98"
            ]
        ]
    },
    {
        "id": "ee6b7dce.0f8d9",
        "type": "SmartMesh manager",
        "z": "",
        "enabled": true,
        "serialport": "/dev/DC2274A-A.API",
        "identifier": "manager1",
        "redirectSmartMeshManagerLog": true
    }
]
